<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Login</title>
  </head>
  <body>
    <h1>Facebook Login</h1>
    <a href="/auth/facebook">Login with Facebook</a>
  </body>
</html>
